/*
    Author  : jaisharx <sendtojsharma@gmail.com>
    Date    : 25-01-2021
    Purpose : ALL STYLES
*/

// base styles
@import './base/base';
@import './base/scrollbar';

// utils classes
@import './utils/container';

// component styles
@import './components/navbar';
@import './components/footer';
@import './components/button';
@import './components/main-cta';

// page styles
@import './pages/main-section';

@import './pages/section/section';

@import './pages/section/section-one';
@import './pages/section/section-two';
@import './pages/section/section-three';
@import './pages/section/section-four';
@import './pages/section/section-five';
@import './pages/section/section-last';