.cta-btn {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    margin-left: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-weight: 500;
    font-size: 1.8rem;
    background-color: #000;
}